{% extends "app/layout.html" %}

{% block content %}


<h2>{{ title }}</h2>

<div class="page-header">
  <h1>AWS S3 details {{ title }} </h1>
</div>



{% endblock %}



{% block scripts %}
    {% load static %}
        <script src="{% static 'app/scripts/crossfilter.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.widgets.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.js"></script>

{% endblock %}
