
{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron" style="padding: 2rem 1rem; margin-top: 1rem">
    {% if site == "D2Y" %}
        <h1>D2Y Insight Platform</h1>
    {% else %}
        <h1>DHK Insight Platform</h1>
    {% endif %}
    <p class="lead">Discover meaningful, creative and actionable Insights</p>
</div>
<div>
    {% if site == "D2Y" %}
        {% include "app/index_D2Y.html" %}
    {% endif %}
    {% if site == "DHK" %}
        {% include "app/index_DHK.html" %}
    {% endif %}
</div>


{% endblock %}

{% block scripts %}
    {% load static %}
        <script src="{% static 'app/scripts/platformsearch.js' %}"></script>

<script>

</script>

{% endblock %}
