

<div class="row">
    <div class="col-md-4">
        <h2>Product Insights</h2>
        <p>
            Find all you need to know about market products. Combine this data with articles and reviews on industry websites to reveal 
            hidden insights and inspiration.</p>
        <p><a class="btn btn-primary" href="{% url 'product_insight' %}">Product Insights &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sensory Insights</h2>
        <p>
            Explore the sensory surveys and discover the insights on norms and facts.
        </p>
        <p><a class="btn btn-primary" href="{% url 'consumer_insight' %}">Sensory Insights &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Market Insights</h2>
        <p>Define the subjects you want to follow and results from different news feed sites and the 
            Market Intelligence site will automatically appear.</p>
        <p><a class="btn btn-primary" href="{% url 'market_insight' %}">Market Insights &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>De Heerlijke Keuken</h2>
        <p>
            Wat eten we vanavaond? Vind het recept.
        </p>
        <p><a class="btn btn-primary" href="{% url 'dhk:home' %}">de Heerlijke Keuken &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Platform Search</h2>
        <input type="text" class="form-control" placeholder="Platform Search" name="platform_search_q" id="platform_search_q" value="{{ keywords_q }}" />
        <div class="controls form-inline">
        <label for="platform_search_select">Platform Search Results</label>
        </div>
        <select name="platform_search_select" class="form-control facet-select" id="platform_search_select" multiple="multiple" onchange="platform_search_onchange(this)">
            <option value="dataset"></option>
        </select>
    </div>
</div>
