{% if user.is_authenticated %}
<form id="logoutForm" action="accounts/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="navbar-nav justify-content-right">
        <li class="nav-item"><span class="navbar-brand">Hello {{ user.username }}!</span></li>
        <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

</form>

{% else %}

<ul class="navbar-nav justify-content-right">
    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
    <li class="nav-item"><a class="nav-link" href="accounts/login/">Log in</a></li>
</ul>

{% endif %}
