{% extends "app/layout.html" %}

{% block css %}
{% endblock %}

{% block content %}

<div class="page-header mb-4">
  <h1>Platform Admin <small>Crawl web sites and Maintain Platform {{ es_hosts.0.host }}</small></h1>
</div>

<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="row adminrow">
        <div class="col-9">
            External inforation is obtained by web scraping. Selected web sites are read and the useful data is presented, merged with internal data and analyzed.
            For social media data sentimental analysis are performed.
        </div>
        <div class="col-3">
            <button type="submit" name="scrape"  class="btn btn-primary">Scrape
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="row adminrow">
        <div class="col-9">
            Crawl a site to scrape pages and index the scraped data. An Indexed Site can be explored using Analytical Search.
            A web site is crawled to find the pages that construct a site. Each found page is scraped in search of the
            facet values that have been identied for that site. The facet values in combination with the page body is indexed.
        </div>
        <div class="col-3">
            <p><a class="btn btn-primary" href="{% url 'crawl' %}">Crawl &raquo;</a></p>
        </div>
    </div>
    <div class="row adminrow">
        <div class="col-9">
            Load data from an external source. This can be an excel file, but also anotehr database.
        </div>
        <div class="col-3">
            <p><a class="btn btn-primary" href="{% url 'load' %}">Load &raquo;</a></p>
        </div>
    </div>
    <div class="row adminrow">
        <div class="col-9">
            AWS Load from Amazon Service
        </div>
        <div class="col-3">
            <p><a class="btn btn-primary" href="{% url 'aws' %}">AWS &raquo;</a></p>
        </div>
    </div>
    <div class="row adminrow">
        <div class="col-9">
            Mail tester
        </div>
        <div class="col-3">
            <p><a class="btn btn-primary" href="{% url 'mail_tester' %}">Mail tester &raquo;</a></p>
        </div>
    </div>
    <div class="row adminrow">
        <div class="col-9">
            Re-create a Index for certain web-site(s). Re-creating an index on the Elastic Search Engine means that the existing index,
            with all of its content, is first deleted. Next the Index is created with a field for each facet that is defined for the
            connected site(s).
        </div>
        <div class="col-3">
            <p><a class="btn btn-primary" href="{% url 'd2y_admin' %}">ElasticSearch Admin &raquo;</a></p>
        </div>
    </div>
    <div class="row mb-4">
        {% if form.errors %}
            <p class="validation-summary-errors">Errors detected.</p>
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                    <strong>{{ field.label_tag }}{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</form>

{% endblock %}


{% block scripts %}

{% endblock %}
