{% extends "app/layout.html" %}

{% block content %}

<div class="page-header">
  <h1>Product Insights <small>Product data and Reviews is indexed for facet search</small></h1>
</div>

{% load static %}
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" id="workbook_name" name="workbook_name" value="test">
    <input type="hidden" id="storyboard_name" name="storyboard_name" value="initial">
    <input type="hidden" id="dashboard_name" name="dashboard_name" value="initial">
    <div class="row">
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "app/media/fragrantica.png" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>Fragrentica</h3>
				                <p>
                                    Analyze the Product Intelligence sites.
				                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Analyze the Product Intelligence sites: <a href="http://www.fragrantica.com/" target="_blank">Fragrantica</a>, Amazon, Basenotes. <br />
                            These sites contain reviews as entered by the public. Besides these reviews some of these sites (Fragrantica) also describe a perfume
                            by its characteristics. These characteristics can be used as filter criteria in search of the right perfume (same idea as Scent Emotions for Ingredients).
                         </p>
                        <p>
                            To upload the reviews of the products you are interested, go to this <a href="crawl?crawl_pi" target="_blank">crawl</a> page.
                        </p>
                        <p>
                            <button type="submit" name="search_pi"  class="btn btn-primary">Search Product Intelligence
                                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "app/media/r_and_d.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>R&D Specs</h3>
				                <p>
                                    For the specified IPCs, the molecule properties and image are retrieved from the R&D systems.
                                    This data is listed as a table.
				                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Analyze the R&D molecules
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{% url 'r_and_d' %}">R&D Molecules &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "app/media/patents.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>R&D Patents and Articles</h3>
				                <p>
                                    This dataset contains the results of the Peer Company patent and article review.
                                    Thomson Innovation is used for the patents and Chemical Abstracts for the articles.
				                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            The monthly search results for Peer Company patent and article review, using Thomson Innovation for the patents
                            and Chemical Abstracts for the articles. Most patents and applications are able to be downloaded directly after launching
                            the web site.
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{% url 'search_workbook'%}?workbook_name=patents&storyboard_name=initial&dashboard_name=initial">
                                Patents &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "app/media/excitometer.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>Uptake of new Ingredients</h3>
				                <p>
                                    This dataset contains the results of the Peer Company patent and article review.
                                    Thomson Innovation is used for the patents and Chemical Abstracts for the articles.
				                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Predict the future uptake of new ingredients. This is done by first finding similair ingredients and based on the historical
                            usage of those similar ingredients, the usage or uptake of the new ingredient is predicted.
                            Similar ingredients are found by correlating the characteristics of the new ingredient with the same characteristics of
                            existing ingredients. The characteristics used for this correlation are: classification, used in formulas, sold in regions,
                            cost, natural
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{% url 'excitometer' %}">Excito-Meter &raquo;</a>
                            <a class="btn btn-primary" href="{% url 'search_workbook'%}?workbook_name=ingr_molecules&storyboard_name=initial&dashboard_name=molecules">
                                Ingr Molecules &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        {% if form.errors %}
            <p class="validation-summary-errors">Errors detected.</p>
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                    <strong>{{ field.label_tag }}{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</form>



{% endblock %}


{% block scripts %}

    {% load static %}
        <script src="{% static 'app/scripts/insight.js' %}"></script>

{% endblock %}
