{% extends "app/layout.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.css" media="screen" /> 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.css" media="screen" /> 

<h2>{{ title }}</h2>

<div class="page-header">
  <h1>Molecules {{ title }} </h1>
</div>

{% load staticfiles %}
<div class='row'>
    <div class="col-md-9">
        <div class="container">
            <div class='row'>
                <div class="col-md-12">
                    <table id="facts_table" class="tablesorter-blue">
                        <thead>
                            <tr>
                                <th> IPC</th>
                                <th> Diffusivity </th>
                                <th> Bloom Index </th>
                                <th> SSOT </th>
                                <th> LOGP </th>
                                <th> VP </th>
                                <th> WS </th>
                                <th> Image </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ipc, properties in molecules_d.items %}
                                <tr>
                                    <td>{{ ipc }}</td>
                                    <td>{{ properties.DIFFUSIVITY|floatformat:3 }}</td>
                                    <td>{{ properties.BLOOM_INDEX|floatformat:3 }}</td>
                                    <td>{{ properties.SSOT }}</td>
                                    <td>{{ properties.LOGP|floatformat:3 }}</td>
                                    <td>{{ properties.VP }}</td>
                                    <td>{{ properties.WS }}</td>
                                    <td> <img src="data:image/png;base64,{{ properties.ipc_image }}" width="200" height="200" alt= {{ ipc }} style="margin-top: 5px;"> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}



{% block scripts %}
    <script src="http://d3js.org/d3.v3.min.js"></script>

    {% load staticfiles %}
        <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.widgets.js"></script>

{% endblock %}

