{% extends "app/layout.html" %}

{% block content %}

<div class="page-header">
  <h1>Scent Emotion <small>select scent ingredient based on emotional feelings</small></h1>
</div>

{% load static %}
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "app/media/CFT_Ingr.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>Ingredients</h3>
				                <p>
                                    Analyze the Scent Emotion Ingredients site.
                                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Analyze the <a href="http://apps.iff.com/CFT" target="_blank">Scent Emotion site</a>. Conumer evaluations of raw Perfumary
                            ingredients dilluted to acceptable levels in odorless solvent. Designed for use by perfumers in creative development and
                            marketing to make ingredient stories about fragrance submissions
                            <br />
                            The following facets are available: <em>Olfactive, Region, Moods, Does Smell, Negatives, Descriptors, Color, Texture</em>.
                        </p>
                        <p>
                            <button type="submit" name="search_scentemotion"  class="btn btn-primary">Scent Emotions (Ingredients)
                                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if form.errors %}
            <p class="validation-summary-errors">Errors detected.</p>
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                    <strong>{{ field.label_tag }}{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</form>


{% endblock %}


{% block scripts %}

    {% load static %}
        <script src="{% static 'app/scripts/insight.js' %}"></script>

{% endblock %}
