{% extends "app/layout.html" %}

{% block content %}

<div class="page-header">
  <h1>Scent Emotion <small>creative and marketing response to a fragrance brief</small></h1>
</div>

{% load static %}
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "app/media/CFT_Ingr.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>Ingredients</h3>
				                <p>
                                    Analyze the Scent Emotion Ingredients site.
                                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Analyze the <a href="http://apps.iff.com/CFT" target="_blank">Scent Emotion site</a>. Conumer evaluations of raw Perfumary
                            ingredients dilluted to acceptable levels in odorless solvent. Designed for use by perfumers in creative development and
                            marketing to make ingredient stories about fragrance submissions
                            <br />
                            The following facets are available: <em>Olfactive, Region, Moods, Does Smell, Negatives, Descriptors, Color, Texture</em>.
                        </p>
                        <p>
                            <button type="submit" name="search_scentemotion"  class="btn btn-primary">Scent Emotions (Ingredients)
                                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "app/media/CFT_CI.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>Studies</h3>
				                <p>
                                    Analyze the Scent Emotion Sudies site. 
				                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Analyze the <a href="http://apps.iff.com/CFT" target="_blank">Scent Emotion site</a>. Various benchmarking studies of finished
                            products carried out by global categorie managers in different years. Designed for use by SDM for creative development
                            <br />
                            The following facets are available: <em>Olfactive, Region, Moods, Does Smell, Negatives, Descriptors, Color, Texture</em>.
                        </p>
                        <p>
                            <button type="submit" name="search_studies"  class="btn btn-primary">Scent Emotions (CI Studies - Fresh & Clean)
                                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "app/media/CFT_Ingr.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>Fragrances</h3>
				                <p>
                                    Analyze the Scent Emotion Fragrences site.
				                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>>
                            Analyze the <a href="http://apps.iff.com/CFT" target="_blank">Scent Emotion site</a>. Cross-category consumer study of women's
                            and men's colognes. IFF experimentals from shampoo, personal wash, fabric and household categories. Designed for use by SDM for creative development.
                            <br />
                            The following facets are available: <em>Olfactive, Region, Moods, Does Smell, Negatives, Descriptors, Color, Texture</em>.
                        </p>
                        <p>
                            <button type="submit" name="search_scentemotion"  class="btn btn-primary">Scent Emotions (Fragrances)
                                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				            <div class="info-card-front">
					            <img class="card-image" src="{% static "app/media/sensory.jpg" %}">
				            </div>
			                <div class="info-card-back">
				                <h3>Taste</h3>
				                <p>
                                    Sensory and Consumer
                                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Taste Emotion. Sensory and Consumer data are loaded and where applicable combined into one dashboard.
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{% url 'search_workbook'%}?workbook_name=sensory&storyboard_name=initial&dashboard_name=Candidates">
                                Taste Emotion <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span></a>
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if form.errors %}
            <p class="validation-summary-errors">Errors detected.</p>
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                    <strong>{{ field.label_tag }}{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</form>


{% endblock %}


{% block scripts %}

    {% load static %}
        <script src="{% static 'app/scripts/insight.js' %}"></script>

{% endblock %}
