

/*** Style for DHK ***/

/* DHK sidebar */

.sidebar {
}

.widget {
    margin-bottom: 2rem;
}
.widget-header {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: #d7d7d7;
}
.widget-header:before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    background-color: #ff4a52;
    height: 3px;
    width: 50px;
}

/* DHK recipe */

.recipe {
}

.recipe-meta {
}

.recipe .recipe-meta a i {
    margin-right: 5px;
    color: #ff4a52;
    font-size: 14px;
}

.recipe-actions {
}

.recipe-actions li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #d5d5d5;
    line-height: 1;
    margin-bottom: 5px;
}

.recipe-action-hover {
    position: relative;
}

.recipe-action-hover:hover div {
    display: block !important;
}

.recipe-action-hover-wrap {
    position: absolute;
    z-index: 5;
    display: none;
    top: 20px;
    padding-top: 10px;
    left: 0;
    text-align: center;
    overflow: hidden;
    transition: all 0.9s ease-in-out;
}

.recipe-action-hover-wrap a {
    color: #ffffff;
    background-color: #ff4a52;
    display: block;
    padding: 10px 12px;
}

.recipe-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: deepskyblue;
    margin-bottom: 1rem;
}

.recipe-categories, .recipe-tags {
    margin: 1rem;
}

.recipe-categories-list-group-item, .recipe-tags-list-group-item {
    background-color: silver;
    float: left;
}

.recipe-categories-list-group-item:hover, .recipe-tags-list-group-item:hover {
    background-color: gold;
}

.recipe-ingredients {
    padding: 15px;
    background-color: #f8f8f8;
}

.recipe-ingredient {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.recipe-instructions {
    padding: 15px;
    background-color: #fef1f2;
}

.recipe-ingredients-title, .recipe-instructions-title {
    margin-bottom: 15px;
    color: #111111;
}

.recipe-ingredients-title i, .recipe-instructions-title i {
    margin-right: 10px;
    color: #ff4a52;
}

.recipe-instruction {
    padding-bottom: 10px;
    border-bottom: solid;
    border-color: darkgrey;
    border-bottom-width: thick;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.recipe-instruction-instruction {
    padding-left: 10px;
}

.recipe-instruction-time {
    padding-left: 10px;
}

.serial-number {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #acacac;
    height: 105px;
    width: 100px;
    padding: 15px 5px;
}

.serial-number h4 {
    color: #111111;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
}

.serial-number span {
    display: block;
    font-size: 18px;
}

.recipe-reviews {
    padding: 5rem;
    background-color: aliceblue;
    margin-bottom: 5rem;
}

.recipe-reviews .avarage-rating-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.recipe-reviews .post-date {
    margin-bottom: 10px;
    display: block;
    color: #a1a1a1;
}

.recipe-reviews ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.recipe-reviews .reviews-single-item .media-body {
    position: relative;
}

.recipe-reviews .reviews-single-item {
    position: relative;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 30px;
    -webkit-box-shadow: 0px 9px 18px 0px rgba(113, 113, 113, 0.07);
    -moz-box-shadow: 0px 9px 18px 0px rgba(113, 113, 113, 0.07);
    box-shadow: 0px 9px 18px 0px rgba(113, 113, 113, 0.07);
}

.recipe-reviews .reviews-single-item .item-rating {
    position: inherit;
    margin-bottom: 5px;
    top: 0;
    right: 0;
    z-index: 1;
}

.recipe-reviews .reviews-single-item .item-rating .single-item {
    display: inline-block;
}

.recipe-reviews .reviews-single-item .item-rating .star-fill > i {
    color: #ffb300;
}

.recipe-reviews .reviews-single-item .item-rating .star-empty > i {
    color: #d9d9d9;
}

.recipe-reviews .reviews-single-item .item-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-size: 14px;
    color: #444444;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.3s ease-out;
}

.recipe-leave-review {
    padding: 5rem;
    background-color: aliceblue;
}

.kookclub-wrapper {
    display: inline-flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.kookclub-wrapper .kookclub-label {
    margin-right: 1rem;
}

.rate-wrapper {
    display: inline-flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.rate-wrapper .rate-label {
    margin-right: 1rem;
}

/* Rate star selection
/* 1. all rate-items belong to .rate with certain color
/* 2. once a rate-item is clicked, the selected class is added to rate. The .rate.selected class kicks in and gold color is active
/* 3. the :hover pseudo class on .rate takes care of gold color on hover
/* 4. the :hover pseudo class on .rate-items resets this color from the hovered item until the end
/* 5. once an rate-item is selected it will be set to active. All the rate-items beyond the active one are reset from the gold color.
*/

.rate-wrapper .rate {
    display: inline-flex;
    color: lightslategray;
}

.rate-wrapper .rate.selected {
    color: gold;
}

.rate-wrapper .rate:hover {
    color: gold;
}

.rate-wrapper .rate-item:hover ~ .rate-item,
.rate-wrapper .rate-item.active ~ .rate-item {
    color: lightslategray;
}

.rate-wrapper .rate-item {
    cursor: pointer;
    margin: 0px 5px 0px 5px;
}
        