

.content-section {
    height: calc(100% - 10px);
    width: 100%;
}

/* row */

.adminrow {
    margin-bottom: 1rem;
    border: 1px solid;
    border-color: #d7d7d7;
    padding: 0.5rem;
}

/* sections */

.section-heading3 {
    margin-bottom: 30px;
    padding-bottom: 25px;
    position: relative;
    border-bottom: 1px solid #d7d7d7;
}

.section-heading3:before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ff4a52;
    height: 3px;
    width: 50px;
}

.section-heading3 .item-heading {
    margin-bottom: 0;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.section-heading3 > p {
    text-align: center;
}

/* With arrow tabs */

.nav-item.show {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
}

.with-arrow .nav-link.active {
    position: relative;
}

.with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

/* lined tabs */

.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
}

/* Style the carousel */
.carousel-selected {
    color: white;
    background-color: #083c9d;
}

.carousel-controls {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.carousel-indicators {
    top: 0px;
}
/*
Forces carousel image to be 100% width and not max width of 100%

.carousel-item img {
    width: 100%;
    height: auto;
}
*/

/*select polymer-element with class iff-box-header and descents of class iffbox*/

.iff-box {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.card-section {
    padding: 2% 5%;
    width: 80%;
    float: left;
    height: 100%;
    overflow-y: auto;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.info-card {
    float: left;
    margin: 10px;
    -webkit-perspective: 600px;
}

.info-card-front, .info-card-back {
	background: #FFF;
	border-radius: 10px;
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	border: 1px solid black;
}

.info-card-front {
	overflow: hidden;
	width: 150px;
	height: 100px;
	position: absolute;
	z-index: 1;
}

.info-card-back {
	padding: 20px;
	padding-top: 0px;
	width: 150px;
	height: 100px;
	-webkit-transform: rotateY(-180deg);
	overflow: hidden;
}

.info-card:hover .info-card-back {
	-webkit-transform: rotateY(0);
}

.info-card:hover .info-card-front {
	-webkit-transform: rotateY(180deg);
}

.card-image {
    max-width: 100%;
    max-height: 100%;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.iff-pane-border {
    border: 1px; 
    border-style: solid;
    border-radius: 5px;
    border-color: lightblue;
    padding: 5px;
}

.iff-button {
    border : 1px solid black;
}

.iff-dataset {
    border:2px solid lightblue;
    padding:15px;
    margin:15px
}

.iff-padding-30 {
    padding-left:30px;
    padding-right:30px;
    margin:0px
}
.iff-padding-15 {
    padding-left:15px;
    padding-right:15px;
}
.iff-padding-6 {
    padding-left:6px;
    padding-right:6px;
}
.iff-padding-l6 {
    padding-left:6px;
    padding-right:0px;
}
.iff-padding-0 {
    padding-left:0px;
    padding-right:0px;
}

.iff-margin-0 {
    margin-left:0px;
    margin-right:0px;
}

.iff-margin-t15 {
    margin-top:15px;
}

.iff-card-6 {
    box-shadow: 6px 6px 5px grey;
    margin: 3px;
}

.iff-card-header {
    background-color: lightblue;
    font-size: 12px;
    padding: 2px;
}

.iff-card-body {
    padding: 3px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

a.seeker:link {color:CornflowerBlue ;}
a.seeker:visited {color:DodgerBlue ;}
a.seeker:hover {color:DarkSlateBlue ;}

/* Style for CI*/
.bold-green-font {
    font-weight: bold;
    text-align : right;
    color: green;
}

.benchmark {
    font-weight: bold;
    text-align : right;
    color: blue;
}
.win95 {
    text-align : right;
    color: darkgreen;
}
.win90 {
    text-align : right;
    color: green;
}
.win80 {
    text-align : right;
    color: lightgreen;
}
.lose95 {
    text-align : right;
    color: darkred;
}
.lose90 {
    text-align : right;
    color: red;
}
.lose80 {
    text-align : right;
    color: indianred;
}

.orange-background {
    background-color: orange;
}


      