

.content-section {
    height: calc(100% - 10px);
    width: 100%;
}

.form-validation-error {
    color: red;
}

/* row */
.adminrow {
    margin-bottom: 1rem;
    border: 1px solid;
    border-color: #d7d7d7;
    padding: 0.5rem;
}

/* sections */

.section-heading3 {
    margin-bottom: 30px;
    padding-bottom: 25px;
    position: relative;
    border-bottom: 1px solid #d7d7d7;
}

.section-heading3:before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ff4a52;
    height: 3px;
    width: 50px;
}

.section-heading3 .item-heading {
    margin-bottom: 0;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.section-heading3 > p {
    text-align: center;
}

/* With arrow tabs */

.with-arrow .nav-link.active {
    position: relative;
}

.with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

/* lined tabs */

.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
}

/* Accordion */

.accordion ul {
    padding: 0px;
}

.accordion li {
    list-style: none;
    cursor: pointer;

}

.accordion-item {
    overflow: hidden;
}

.accordion-item-header {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: flex-start;
}

.accordion .accordion_arrow {
    width: 10px;
    height: 10px;
    transition: all .3s;
    padding-bottom: 0px;
    position: absolute;
    margin: 10px 0px 0px -15px;
}


.accordion .accordion_arrow:after, .accordion_arrow:before {
    border: solid transparent;
    content: " ";
    position: absolute;
}

.accordion .accordion_arrow:after {
    border-width: 5px;
}

.accordion .accordion_arrow:before {
    border-left-color: #000;
    border-width: 5px;
}

.accordion .accordion_arrow--open {
    transform: rotateZ(90deg);
    transform-origin: 50% 50%;
}

/* Seeker */

.important {
    font-weight: bold;
    font-size: xx-large;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.content-form {
    flex: 0 0 auto;
    min-width: 100px;
    margin-right: 5px;
    margin-top: 5px;
    width: 300px;
    resize: horizontal;
    overflow: auto;
}

.content-results {
    flex: 5 5 100%;
    padding-bottom:10px;
    padding-top:10px;
    min-width:800px;
    margin-top: 5px;
}

.seeker-facet .keywords {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div.seeker-dropdown-link {
    position: relative;
}

div.seeker-dropdown-link span {
    color: #007bff;
}

div.seeker-dropdown-link ul {
    display: inline;
    margin: 0;
    padding: 0;
}

div.seeker-dropdown-link ul li {
    display: inline-block;
}

div.seeker-dropdown-link ul li:hover {
}

div.seeker-dropdown-link ul li:hover ul {
    display: block;
}

div.seeker-dropdown-link ul li ul {
    position: absolute;
    top: 20px;
    left: 10px;
    list-style-type: square;
    width: 200px;
    display: none;
}

div.seeker-dropdown-link ul li ul li {
    background-color: white;
    padding-left: 5px;
    opacity: 0.9;
    display: block;
}

div.seeker-dropdown-link ul li ul li a {
    display: block !important;
    color: red;
    margin-bottom: 2px;
}

div.seeker-dropdown-link ul li ul li:hover {
    background-color: cornflowerblue
}

/* Style the carousel */
.carousel-selected {
    color: white;
    background-color: #083c9d;
}

.carousel-controls {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.carousel-indicators {
    top: 0px;
}

.card-section {
    padding: 2% 5%;
    width: 80%;
    float: left;
    height: 100%;
    overflow-y: auto;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.info-card {
    float: left;
    margin: 10px;
    -webkit-perspective: 600px;
}

.info-card-front, .info-card-back {
	background: #FFF;
	border-radius: 10px;
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	border: 1px solid black;
}

.info-card-front {
	overflow: hidden;
	width: 150px;
	height: 100px;
	position: absolute;
	z-index: 1;
}

.info-card-back {
	padding: 20px;
	padding-top: 0px;
	width: 150px;
	height: 100px;
	-webkit-transform: rotateY(-180deg);
	overflow: hidden;
}

.info-card:hover .info-card-back {
	-webkit-transform: rotateY(0);
}

.info-card:hover .info-card-front {
	-webkit-transform: rotateY(180deg);
}

.card-image {
    max-width: 100%;
    max-height: 100%;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* DHK Site */

.dhk-admin-mijn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
    border-top: solid;
    border-width: 1px;
    padding: 1rem;
}

.dhk-admin-mijn-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    min-width: 180px !important;
    min-height: 100px !important;
    border: solid;
    border-width: 1px;
}

/* D2Y flex */

.d2y-flex-row-wrap-start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; /* horizontal alignment */
    align-items: flex-start; /* vertical alignment */
}

.d2y-flex-row-nowrap-start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; /* horizontal alignment */
    align-items: flex-start; /* vertical alignment */
}

.d2y-flex-column-nowrap-start {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start; /* horizontal alignment */
    align-items: flex-start; /* vertical alignment */
}

.d2y-pane-border {
    border: 1px; 
    border-style: solid;
    border-radius: 5px;
    border-color: lightblue;
    padding: 5px;
}

.d2y-dataset {
    border:2px solid lightblue;
    padding:15px;
    margin:15px
}

.d2y-padding-30 {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px
}

.d2y-padding-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.d2y-card-6 {
    box-shadow: 6px 6px 5px grey;
    margin: 3px;
}

.d2y-card-header {
    background-color: lightblue;
    font-size: 12px;
    padding: 2px;
}

.d2y-card-body {
    padding: 3px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

a.seeker:link {color:CornflowerBlue ;}
a.seeker:visited {color:DodgerBlue ;}
a.seeker:hover {color:DarkSlateBlue ;}

/* Style for CI*/
.bold-green-font {
    font-weight: bold;
    text-align : right;
    color: green;
}

.benchmark {
    font-weight: bold;
    text-align : right;
    color: blue;
}
.win95 {
    text-align : right;
    color: darkgreen;
}
.win90 {
    text-align : right;
    color: green;
}
.win80 {
    text-align : right;
    color: lightgreen;
}
.lose95 {
    text-align : right;
    color: darkred;
}
.lose90 {
    text-align : right;
    color: red;
}
.lose80 {
    text-align : right;
    color: indianred;
}

.orange-background {
    background-color: orange;
}

/* Toolbar */

.toolbar-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

    .toolbar-actions .toolbar-action {
        display: inline-block;
        padding: 0.75rem 0.75rem;
        border-right: 1px solid #d5d5d5;
        line-height: 1;
    }

.toolbar-action-hover {
    position: relative;
}

    .toolbar-action-hover:hover div {
        display: block !important;
    }

.toolbar-action-hover-wrap {
    position: absolute;
    z-index: 5;
    display: none;
    top: 40px;
    padding-top: 10px;
    left: 0;
    text-align: center;
    overflow: hidden;
    transition: all 0.9s ease-in-out;
}

    .toolbar-action-hover-wrap a {
        color: #ffffff;
        background-color: #ff4a52;
        display: block;
        padding: 10px 12px;
    }

      