

/*** Style for DHK ***/

/* DHK sidebar */

.sidebar {
}

.widget {
    margin-bottom: 2rem;
}
.widget-header {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: #d7d7d7;
}
.widget-header:before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    background-color: #ff4a52;
    height: 3px;
    width: 50px;
}

/* DHK workshop */

.workshop {
}

/* DHK recipe */

.recipe {
}

.recipe-header {
}

.recipe-meta {
}

.recipe-meta a i {
    margin-right: 5px;
    color: #ff4a52;
    font-size: 14px;
}

.recipe-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: outside;
    margin: 1rem;
}

.recipe-categories .recipe-category {
    background-color: silver;
    float: left;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    padding: 0.5rem;
}

.recipe-categories .recipe-category:hover {
    background-color: gold;
}

.recipe-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: outside;
    margin: 1rem;
}

.recipe-tags .recipe-tag {
    background-color: silver;
    float: left;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    padding: 0.5rem;
}

.recipe-tags .recipe-tag:hover {
    background-color: gold;
}

.recipe-ingredients {
    padding: 15px;
    background-color: #f8f8f8;
}

.recipe-ingredient {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.recipe-instructions {
    padding: 15px;
    background-color: #fef1f2;
}

.recipe-ingredients-title, .recipe-instructions-title {
    margin-bottom: 15px;
    color: #111111;
}

.recipe-ingredients-title i, .recipe-instructions-title i {
    margin-right: 10px;
    color: #ff4a52;
}

.recipe-instruction {
    padding-bottom: 10px;
    border-bottom: solid;
    border-color: darkgrey;
    border-bottom-width: thick;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.recipe-instruction-instruction {
    padding-left: 10px;
}

.recipe-instruction-time {
    padding-left: 10px;
}

.serial-number {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #acacac;
    height: 105px;
    width: 100px;
    padding: 15px 5px;
}

.serial-number h4 {
    color: #111111;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
}

.serial-number span {
    display: block;
    font-size: 18px;
}

.recipe-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
}

.recipe-image {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.recipe-image-label {
    text-decoration: underline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    letter-spacing: .2px;
    line-height: 20px;
}

.recipe-reviews {
    padding: 5rem;
    background-color: aliceblue;
    margin-bottom: 5rem;
}

.recipe-reviews .avarage-rating-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.recipe-reviews .post-date {
    margin-bottom: 10px;
    display: block;
    color: #a1a1a1;
}

.recipe-reviews ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.recipe-reviews .reviews-single-item .media-body {
    position: relative;
}

.recipe-reviews .reviews-single-item {
    position: relative;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 30px;
    -webkit-box-shadow: 0px 9px 18px 0px rgba(113, 113, 113, 0.07);
    -moz-box-shadow: 0px 9px 18px 0px rgba(113, 113, 113, 0.07);
    box-shadow: 0px 9px 18px 0px rgba(113, 113, 113, 0.07);
}

.recipe-reviews .reviews-single-item .item-rating {
    position: inherit;
    margin-bottom: 5px;
    top: 0;
    right: 0;
    z-index: 1;
}

.recipe-reviews .reviews-single-item .item-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-size: 14px;
    color: #444444;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.3s ease-out;
}

.recipe-leave-review {
    padding: 5rem;
    background-color: aliceblue;
}

.club-events {
    padding: 1rem;
    background-color: aliceblue;
    margin-bottom: 2rem;
}

.club-events .club-map-event {
    display: flex;
    flex-direction: row;
}

.club-events .club-map-event .club-map {
    width: 50%;
}

.club-events .club-map-event .club-event {
    width: 50%;
    margin-left: 1rem;
}

.club-modal {
}

.club-modal .club-modal-header {
    color: red;
    font-size: 1.2rem;
}

.club-modal .club-invitation {
    border: 1px solid;
    border-color: lightgray;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.club-modal .club-club {
    border: 1px solid;
    border-color: lightgray;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.club-modal .club-join {
    border: 1px solid;
    border-color: lightgray;
    padding: 0.5rem;
}

.club-modal .club-join .input-group-text {
    min-width: 80px;
}

.rate-wrapper {
    display: inline-flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.rate-wrapper .rate-label {
    margin-right: 1rem;
}

/* Rate star selection
/* 1. all rate-items belong to .rate with certain color
/* 2. once a rate-item is clicked, the selected class is added to rate. The .rate.selected class kicks in and gold color is active
/* 3. the :hover pseudo class on .rate takes care of gold color on hover
/* 4. the :hover pseudo class on .rate-items resets this color from the hovered item until the end
/* 5. once an rate-item is selected it will be set to active. All the rate-items beyond the active one are reset from the gold color.
*/

.rating .single-item {
    display: inline-block;
}

.rating .star-fill > i {
    color: #ffb300;
}

.rating .star-empty > i {
    color: #d9d9d9;
}

.rating .rate {
    display: inline-flex;
    color: lightslategray;
}

.rating .rate.selected {
    color: gold;
}

.rating .rate:hover {
    color: gold;
}

.rating .rate-item:hover ~ .rate-item,
.rating .rate-item.active ~ .rate-item {
    color: lightslategray;
}

.rating .rate-item {
    cursor: pointer;
    margin: 0px 5px 0px 5px;
}
        