{% extends 'dhk_app/dhk_layout.html' %}
 
{% load staticfiles %}

{% block content %}

<div class="page-header">
    <h3>
        Op zoek naar een recept, of schuif je liever aan bij iemand die voor je kookt!
    </h3>
    <p>
        Beide is mogelijk op deze site. Ga <b>opzoek</b> waar je zin in hebt via het uitgebruide zoek scherm.
        Eenmaal gevonden, dan staan de verschillende gangen van de maaltijd overzichtelijk naast elkaar.
        Het recept dat bij iedere gang hoort staat opgesomt middels de benodigde ingrediënten en de stappen voor de bereidingswijze.
    </p>
    <p>
        Geen zin om zelf te koken, meld je dan aan bij de <b>Kookclub</b> die voor deze maaltijd wordt georganiseerd en schuif aan.
        Of, juist wel zin om te koken maar niet alleen. Organiseer dan zelf een Kookclub, nodig mensen uit of wacht wie er zich inschrijft.
    </p>
</div>

<form id="dhk_form" method="post" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" id="workbook_name" name="workbook_name" value="test">
    <input type="hidden" id="storyboard_name" name="storyboard_name" value="initial">
    <input type="hidden" id="dashboard_name" name="dashboard_name" value="initial">
    <div class="row">
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "dhk_app/media/search_supermarket.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>Recepten</h3>
				                <p>
                                    Ga <b>opzoek</b>!
                                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Ga <b>opzoek</b> naar de maaltijd waar je zin in hebt via het uitgebruide zoek scherm.
                            Kook zelf of schuif aan bij de <b>Kookclub</b>.
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{% url 'search_workbook'%}?workbook_name=dhk&storyboard_name=initial&dashboard_name=initial">
                                Ga <b>opzoek</b> Recept<span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "dhk_app/media/club_dining_table.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>Kookclub</h3>
				                <p>
                                    Schuif aan!
                                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Geen zin om zelf te koken, meld je dan aan bij een Kookclub en schuif aan. Hier een overzicht van alle <b>Kookclubs</b>.
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{% url 'dhk/club'%}">
                                Schuif aan <b>Kookclub</b> <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "dhk_app/media/workshop_cooks.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>Workshops</h3>
				                <p>
                                    Meld je aan!
                                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Een overzicht van alle workshops. Is er iets voor je bij, meld je aan.
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{% url 'dhk/workshops' %}">
                                Volg <b>Workshop</b> <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 iff-dataset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
		                <div class="info-card">
				                <div class="info-card-front">
					                <img class="card-image" src="{% static "dhk_app/media/mykitchen_baker.jpg" %}">
				                </div>
			                <div class="info-card-back">
				                <h3>Mijn Keuken</h3>
				                <p>
                                    Organiseer!
                                </p>
			                </div>
		                </div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Vind je het leuk om zelf te koken en met anderen te delen, dat kan hier!
                            Laad je eigen recepten en organiseer eigen workshops.
                            {% if not user.is_authenticated %}
                            (Login vereist)
                            {% endif %}
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{% url 'dhk/dhk_admin'%}">
                                My Heerlijke Keuken <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if form.errors %}
            <p class="validation-summary-errors">Errors detected.</p>
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                    <strong>{{ field.label_tag }}{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</form>


{% endblock %}

{% block scripts %}

    {% load staticfiles %}
        <script src="{% static 'app/scripts/insight.js' %}"></script>

{% endblock %}