{% extends "dhk_app/dhk_layout.html" %}
{% load i18n %}

{% block css %}
    {% load static %}

{% endblock %}

{% block content %}
<div id="root" class="row">
    <div class="col-lg-12">
        <h2>Scrape je Site in de Zoek machine</h2>
        <div class="row">
            <div class="col-lg-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="tabs">
                    <li class="nav-item">
                        <a class="nav-link w-100 active"  data-toggle="tab" href="#scrape"><i class="fas fa-globe mr-2"></i>Scrape</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link w-100"  data-toggle="tab" href="#parser"><i class="fas fa-globe mr-2"></i>Parser</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content border border-top-0 p-2">
                    <div class="tab-pane fade active show" id="scrape">
                        <div class="dhk-admin-scrape">
                            <div v-if="errors.length" class="dhk-errors">
                                <b>Corrigeer de volgende fout(en):</b>
                                <ul>
                                    <li v-for="error in errors">[[ error ]]</li>
                                </ul>
                            </div>
                            <div class="dhk-admin-sites-select">
                                <div class="form-group mr-1" style="width:20%">
                                  <label for="select_site">Select site</label>
                                  <select class="form-control" id="select_site" v-model="m_domain">
                                    <option v-for="(parser_site, domain) in parser_sites" v-bind:value="domain">[[domain]]</option>
                                  </select>
                                </div>
                                <div class="form-group mr-1" style="width:20%" v-if="m_domain">
                                  <label for="select_page_type">Select page type</label>
                                  <select class="form-control" id="select_page_type" v-model="m_page_type">
                                    <option v-for="(parser, page_type) in parser_sites[m_domain]" v-bind:value="page_type">[[page_type]]</option>
                                  </select>
                                </div>
                                <div class="form-group" style="width:45%" v-if="m_domain && m_page_type">
                                  <label for="select_site_page">Select site page</label>
                                  <select class="form-control" id="select_site_page" v-model="m_site_page" v-on:change="select_site_page_change()">
                                    <option v-for="site_page in parser_sites[m_domain][m_page_type]['pages']" v-bind:value="site_page">[[site_page]]</option>
                                  </select>
                                </div>
                            </div>
                            <p>
                                De web (sub) site die ingelezen wordt met de bijbehorende Taxonomy
                            </p>
                            <div class="dhk-admin-sites-scrape mb-3">
                                <div style="width:40%">
                                    <treeselect class="mr-1" v-model="m_treeselect_value" v-bind:multiple="false" v-bind:options="treeselect_options" placeholder="Selecteer taxonomy..." />
                                </div>
                                <div class="input-group" style="width:45%">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary mr-1" data-toggle="tooltip" title="Scrape" v-on:click="recipe_scrape_click()">
                                            <span class="fas fa-globe"></span>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Web recipe page" id="scrape_text" v-model="m_page"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="box-title">Mijn Recepten</h3>
                                    <div class="table-responsive">
                                        <table id="recipe_datatable" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Titel</th>
                                                    <th>Pagina</th>
                                                    <th>Errors</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="recipe_scrape_result in recipe_scrape_results">
                                                    <td>
                                                        <a v-bind:href="recipe_url('recipe', recipe_scrape_result[0])"> [[ recipe_scrape_result[1] ]]</a>
                                                    </td>
                                                    <td>
                                                        <a v-bind:href="recipe_scrape_result[2]" target="_blank">[[ recipe_scrape_result[2] ]]</a>
                                                    </td>
                                                    <td>
                                                        [[ recipe_scrape_result[3] ]]
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="parser">
                        <div class="recipe-classify">
                            <h4>Site Parser</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% csrf_token %}
	<input type="hidden" name="delete_recipe_url" value="{% url 'dhk:delete_recipe' %}">
	<input type="hidden" name="upload_file_url" value="{% url 'dhk:upload_file' %}">
	<input type="hidden" name="get_uploaded_files_url" value="{% url 'dhk:get_uploaded_files' %}">
    <input type="hidden" name="recipe_scrape_url" value="{% url 'dhk:recipe_scrape' %}">

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var static_assets_url = "{% static 'assets' %}";
        var taxonomy = {{ taxonomy|safe }}
        var parser_sites = {{ parser_sites|safe }}
    </script>
    {% load static %}
        <script src="{% static 'app/scripts/utils.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/components.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/dhk_admin.js' %}"></script>
{% endblock %}
