<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>de Heerlijke Keuken</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dhk_app/content/dhk_mail.css' %}" />
    {% block css %}
    {% endblock %}
</head>

<body class="d-flex flex-column">
    <div class="container-fluid" style="margin-top:1rem; margin-bottom: 2rem">
        <div >
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="bg-dark text-white fixed-bottom">
        <p class="mb-0">&copy; <a class="text-white" href="#">Powered by D2Y</a></p>
    </div>

    <script src="{% static 'assets/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>
