<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>de Heerlijke Keuken</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dhk_app/content/dhk_site.css' %}" />
    {% block css %}
    {% endblock %}
</head>

<body class="d-flex flex-column">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-static-top mb-3">
    <a class="navbar-brand" href="{% url 'dhk' %}">de Heerlijke Keuken</a>
        <ul class="navbar-nav mr-auto site-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'dhk' %}"><i class="fas fa-home"></i>Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dhk' %}"><i class="fas fa-utensils mr-2"></i>Zoek Gerecht</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dhk' %}"><i class="fas fa-tags"></i>Categories</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dhk/workshops' %}"><i class="fas fa-graduation-cap"></i>Workshops</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-mitten">
                </i>Keuken</a>
                <ul class="dropdown-menu-col-1">
                    <li><a href="{% url 'dhk/kitchen' %}">Oosters</a></li>
                    <li><a href="{% url 'dhk/kitchen' %}">Nederlands</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dhk/club' %}"><i class="fas fa-users mr-2"></i>Kookclub</a></li>
        </ul>
        {% include 'registration/loginpartial.html' %}
    </nav>

    <div class="container-fluid iff-padding-30" style="margin-top:1rem; margin-bottom: 2rem">
        <div >
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="bg-dark text-white fixed-bottom">
        <p class="mb-0">&copy; {{ year }} - Powered by DOUBLE2YY</p>
    </div>

    <script src="{% static 'assets/jquery/js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'users_app/scripts/login.js' %}"></script>

    {% block scripts %}
    {% endblock %}

</body>
</html>
