<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>de Heerlijke Keuken</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dhk_app/content/dhk_site.css' %}" />
    {% block css %}
    {% endblock %}
</head>

<body class="d-flex flex-column">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-static-top mb-3">
    <a class="navbar-brand" href="{% url 'dhk:home' %}">de Heerlijke Keuken</a>
        <ul class="navbar-nav mr-auto site-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'dhk:home' %}"><i class="fas fa-home"></i>Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'search_workbook'%}?workbook_name=dhk&storyboard_name=initial&dashboard_name=initial"><i class="fas fa-utensils mr-2"></i>Ga opzoek</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dhk:club' %}"><i class="fas fa-users mr-2"></i>Kookclub</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-mitten">
                </i>Workshops</a>
                <ul class="dropdown-menu-col-1">
                    <li><a href="{% url 'dhk:workshops'%}?studio=stuurhuis">het Stuurhuis</a></li>
                    <li><a href="{% url 'dhk:workshops'%}?studio=vu">VU</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dhk:home' %}"><i class="fas fa-tags"></i>Categories</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dhk:kitchen' %}"><i class="fas fa-flag-checkered"></i>Keuken</a></li>
        </ul>
        {% include 'registration/loginpartial.html' %}
    </nav>

    <div class="container-fluid iff-padding-30" style="margin-top:1rem; margin-bottom: 2rem">
        <div >
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="bg-dark text-white fixed-bottom">
        <p class="mb-0">&copy; <a class="text-white" href="#">Powered by D2Y</a></p>
    </div>

    <script src="{% static 'assets/jquery/js/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'users_app/scripts/login.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74824258-1', 'auto');
      ga('send', 'pageview');
    </script>
    {% block scripts %}
    {% endblock %}

</body>
</html>
