{% extends "dhk_app/dhk_layout.html" %}

{% block css %}
    {% load static %}
	    <link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/css/font-awesome.min.css'%}" />
	    <link rel="stylesheet" type="text/css" href="{% static 'assets/dropzone/css/dropzone.min.css'%}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/dropzone.css' %}" />
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-6">
            <div class="dhk-admin-mijn">
                <a class="btn btn-primary dhk-admin-mijn-button mr-2" href="{% url 'users_app/profile' %}"><i class="fas fa-user mr-1"></i>Mijn Profiel</a>
                <p>
                    Welkom op <b>Mijn Heerlijke Keuken</b>. Hier kun je zelf je eigen gegevens beheren. Bekijk en verander, indien nodig, je profiel.
                </p>
            </div>
            <div class="dhk-admin-mijn">
                <a class="btn btn-primary dhk-admin-mijn-button disabled mr-2" href="{% url 'dhk:dhk_admin_reviews' %}"><i class="fas fa-comments mr-1"></i>Mijn Reviews</a>
                <p>
                    Bekijk de recepten en workshops waar je commentaar bij hebt geplaatst. Zie de reacties op jouw commentaar.
                </p>
            </div>
            <div class="dhk-admin-mijn">
                <a class="btn btn-primary dhk-admin-mijn-button disabled mr-2" href="{% url 'dhk:dhk_admin_kookclubs' %}"><i class="fas fa-users mr-1"></i>Mijn Kookclubs</a>
                <p>
                    Bekijk en bewerk de kookclubs die je hebt georganiseerd.
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="dhk-admin-mijn">
                <a class="btn btn-primary dhk-admin-mijn-button mr-2" href="{% url 'dhk:dhk_admin_sites' %}"><i class="fas fa-globe mr-1"></i>Mijn Sites</a>
                <p>
                    Naast het laden van documenten kunnen ook recepten geladen worden vanaf een andere site zodat ze 
                    meedraaien in de Zoek engine. Hiermee bereiken we 'Google', maar dan speciaal voor recepten en kookclubs.
                </p>
            </div>
            <div class="dhk-admin-mijn">
                <a class="btn btn-primary dhk-admin-mijn-button mr-2" href="{% url 'dhk:dhk_admin_recipes' %}"><i class="fas fa-utensils mr-1"></i>Mijn Recepten</a>
                <p>
                    Zo kun je je eigen recepten invoeren en opladen. Dit opladen kan vanaf Word documenten. Op deze manier draaien ook jouw recepten
                    mee in de Zoek omgeving. Deze documenten moeten dan wel aangeleverd worden volgens een bepaalde template. De Word template kun je vanaf 
                    <a href="{% static "dhk_app/media/mijn_heerlijke_keuken_template.dotx" %}" download> hier </a> downloaden.
                </p>
            </div>
        </div>
    </div>
    {% csrf_token %}
    {% csrf_token %}
	<input type="hidden" name="delete_recipe_url" value="{% url 'dhk:delete_recipe' %}">
	<input type="hidden" name="upload_file_url" value="{% url 'dhk:upload_file' %}">
	<input type="hidden" name="get_uploaded_files_url" value="{% url 'dhk:get_uploaded_files' %}">

{% endblock %}


{% block scripts %}
    {% load static %}
        {% if not user.is_authenticated %}
            <script>
                login_navbar_click();
            </script>
        {% endif %}
{% endblock %}
