{% extends "dhk_app/dhk_layout.html" %}
{% load i18n %}

{% block css %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'dhk_app/content/recipe.css' %}" />
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-lg-12">
            <div id="root" class="row">
                <div class="col-lg-12" v-if="recipe">
                    <h2>[[ recipe.title ]]</h2>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="recipe">
                                {% include 'dhk_app/recipe - header.html' %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" id="tabs">
                                            <li class="nav-item">
                                                <a class="nav-link w-100 active" data-toggle="tab" href="#media"><i class="fas fa-images mr-2"></i>Media</a>
                                            </li>
                                            <li class="nav-item">
                                                <a v-bind:class="{'nav-link':true, 'w-100':true}" data-toggle="tab" href="#classify"><i class="fas fa-tags mr-2"></i>Classify</a>
                                            </li>
                                            <li class="nav-item">
                                                <a v-bind:class="{'nav-link':true, 'w-100':true}" data-toggle="tab" href="#scrape"><i class="fas fa-globe mr-2"></i>Scrape</a>
                                            </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content border border-top-0 p-2">
                                            <div class="tab-pane fade active show" id="media">
                                                <div class="recipe-media">
                                                    <h4>Zoek en selecteer de carousel slides</h4>
                                                    Nieuwe slides kunnen worden gezocht en vervolgens toegevoegd aan de carousel. De eerste slide wordt
                                                    getoond in het zoek scherm.
                                                    <div class="input-group mt-3 mb-3">
                                                        <div class="input-group-btn">
                                                            <button class="btn btn-primary" v-on:click="recipe_carousel_images_search_click()">
                                                                <span class="fas fa-search"></span>
                                                            </button>
                                                            <button class="btn btn-primary mr-1" v-on:click="image_search = recipe['title']">
                                                                <span class="fas fa-history"></span>
                                                            </button>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Search" id="search_text" v-bind:value="image_search"/>
                                                    </div>
                                                    <div class="d2y-flex-row-nowrap-start">
                                                        <div class="d2y-flex-column-nowrap-start mr-3">
                                                            <div class="">
                                                                <button class="btn btn-primary" v-on:click="recipe_carousel_post()">Laadt Carousel</button>
                                                            </div>
                                                            <div class="alert alert-info mt-3" v-if="alert">
                                                                <strong>[[alert]]</strong>
                                                            </div>
                                                        </div>
                                                        <div class="recipe-media-images">
                                                            <div class="recipe-media-image" v-for="(slide, slide_ix) in carousel_checked">
                                                                <img v-bind:src="slide.src" style="width:156px;height:128px">
                                                                <div class="toolbar-actions">
                                                                    <div class="toolbar-action">
                                                                        <div class="radio">
				                                                            <input type="radio" v-bind:value="slide_ix" v-model.lazy="m_featured_ix" v-on:click="recipe_image_radio_click(slide_ix)">
			                                                            </div>
                                                                    </div>
                                                                    <div class="toolbar-action" v-if="slide_ix > 0">
                                                                        <a data-toggle="tooltip" title="Unselect" v-on:click="recipe_image_select_click(slide_ix, slide.checked)">
                                                                        <i class="fas fa-arrow-down"></i></a>		                                                            
                                                                    </div>
                                                                    <div class="toolbar-action" v-if="slide_ix > 0">
                                                                        <a data-toggle="tooltip" title="Links" v-on:click="recipe_image_shift_click(slide_ix, 'left')" v-bind:disabled="slide.featured">
                                                                        <i class="fas fa-arrow-left"></i></a>
                                                                    </div>
                                                                    <div class="toolbar-action" v-if="slide_ix < carousel_checked.length-1">
                                                                        <a data-toggle="tooltip" title="Rechts" v-on:click="recipe_image_shift_click(slide_ix, 'right')" v-bind:disabled="slide.featured">
                                                                        <i class="fas fa-arrow-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="recipe-media-images">
                                                        <div class="recipe-media-image" style="width:156px" v-for="(slide, slide_ix) in carousel_unchecked">
                                                            <img v-bind:src="slide.src" data-toggle="tooltip" v-bind:title="slide.alt" style="width:156px;height:128px">
                                                                <div class="recipe-media-image-label"> [[slide.alt]] </div>
                                                            <div class="toolbar-actions">
                                                                <div class="toolbar-action">
                                                                    <a data-toggle="tooltip" title="Select" v-on:click="recipe_image_select_click(slide_ix, slide.checked)">
                                                                    <i class="fas fa-arrow-up"></i></a>		
                                                                </div>
                                                            </div>
                                                        </div>                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="classify">
                                                <div class="recipe-classify">
                                                    <h4>Rubriceer naar Categorie en Tags</h4>
                                                    De categorieen zijn weer gegroepeerd in groepen die als filters beschikbaar zijn
                                                    in het zoek scherm. Tags verschijnen in de tag cloud die ook als filter gebruikt kunnen worden.
                                                    <div class="recipe-classify-cats-tags">
                                                        <div class="recipe-classify-cats">
                                                            <h5>Categories</h5>
                                                            <div class="recipe-classify-checkboxes">
                                                                <div class="form-check" v-for="bucket in cats_buckets">
                                                                  <label class="form-check-label" v-bind:for="bucket.key">
                                                                    <input type="checkbox" class="form-check-input" v-bind:id="bucket.key" v-bind:value="bucket.key"  v-model="cats">[[bucket.key]] ([[bucket.doc_count]])
                                                                  </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="recipe-classify-tags">
                                                            <h5>Tags</h5>
                                                            <div class="recipe-classify-checkboxes">
                                                                <div class="form-check" v-for="(bucket, bucket_ix) in tags_buckets">
                                                                  <label class="form-check-label" v-bind:for="bucket.key">
                                                                    <input type="checkbox" class="form-check-input" v-bind:id="bucket.key" v-bind:value="bucket.key"  v-model="tags">[[bucket.key]] ([[bucket.doc_count]])
                                                                  </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="scrape">
                                                <div class="recipe-classify">
                                                    <h4>Scrape een Recept</h4>
                                                    Scrape een recept om het op te nemen in de zoek machine.
                                                    <div class="input-group mt-3 mb-3">
                                                        <div class="input-group-btn">
                                                            <button class="btn btn-primary mr-1" v-on:click="recipe_scrape_click()">
                                                                <span class="fas fa-globe"></span>
                                                            </button>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Web page" id="scrape_text" v-model="m_page_scrape"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <input type="hidden" name="api_stream_file_url" value="{% url 'api/stream_file' %}">
    <input type="hidden" name="recipe_carousel_images_search_url" value="{% url 'dhk:recipe_carousel_images_search' %}">
    <input type="hidden" name="recipe_carousel_post_url" value="{% url 'dhk:recipe_carousel_post' %}">
	<input type="hidden" name="recipe_edit_url" value="{% url 'dhk:recipe_edit' %}">
	<input type="hidden" name="recipe_get_url" value="{% url 'dhk:recipe_get' %}">
    <input type="hidden" name="recipe_post_url" value="{% url 'dhk:recipe_post' %}">
    <input type="hidden" name="recipe_scrape_url" value="{% url 'dhk:recipe_scrape' %}">

{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        var static_assets_url = "{% static 'assets' %}";
        var recipe = {{ recipe|safe }}
        var cats_buckets = {{ cats_buckets|safe }}
        var tags_buckets = {{ tags_buckets|safe }}
    </script>
    {% load static %}
        <script src="{% static 'app/scripts/utils.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/components.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/recipe_edit.js' %}"></script>
{% endblock %}
