
<div class="widget">
    <div class="widget-header">
        <h3>Media</h3>
    </div>
    <div class="widget-body">
        <div class="widget-carousel">
            <div id="widget-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#widget-carousel" v-bind:data-slide-to="image_ix" v-bind:class="{active : image_ix==0}"
                        v-for="(image, image_ix) in this.recipe.images"></li>
                </ul>
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item" v-bind:class="{active : image_ix==0}" style="background: grey"
                            v-for="(image, image_ix) in this.recipe.images">
                        <img v-bind:src="bind_stream_file_url(api_stream_file_url, image.location)" alt=field width="auto" height="256px"  style="margin: 5px">
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#widget-carousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#widget-carousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget">
    <div class="widget-header">
        <h3>Boodschappen</h3>
        <p>Klik de ingredienten om deze toe te voegen aan de boodschappen lijst!</p>
    </div>
    <div class="widget-body">
        <div class="recipe-ingredients">
            <h3 class="recipe-ingredients-title"><i class="fas fa-list-ul"></i>Check Ingredient</h3>
            <div class="recipe-ingredient" v-for="(ingredient, index) in shopping_basket">
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" checked class="custom-control-input" v-bind:id="'ingredient_cb'+index">
                    <label class="custom-control-label" v-bind:for="'ingredient_cb'+index">[[ ingredient.ingredient ]]</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="widget">
    <div class="widget-header">
        <h3>Categories</h3>
    </div>
    <div class="widget-body">
        <div class="recipe-categories">
            <div class="recipe-category" v-for="category in this.recipe.categories">
                <a href="#">[[category]]</a>
            </div>
        </div>
    </div>
</div>
<div class="widget">
    <div class="widget-header">
        <h3>Tags</h3>
    </div>
    <div class="widget-body">
        <div class="recipe-tags">
            <div class="recipe-tag" v-for="tag in this.recipe.tags">
                <a href="#">[[tag]]</a>
            </div>
        </div>
    </div>
</div>
