{% extends "dhk_app/dhk_layout.html" %}
{% load i18n %}

{% block css %}
    {% load staticfiles %}
	    <link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/css/font-awesome.min.css'%}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/recipe.css' %}" />
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-lg-12">
            <div id="root" class="row">
                {% include 'dhk_app/recipe - modal.html' %}
                <div class="col-lg-12" v-if="this.recipe">
                    <div class="jumbotron" style="padding: 2rem 1rem; margin-bottom: 1rem">
                        <h2>[[ this.recipe.title ]]</h2>
                        [[ this.recipe.excerpt ]]
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="recipe">
                                {% include 'dhk_app/recipe - header.html' %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item" v-bind:style="bind_nav_tab_style(recipe.courses.length+2)" v-for="(course, course_ix) in this.recipe.courses">
                                                <a v-bind:class="{'nav-link':true, 'w-100':true, active:course_ix==0}" data-toggle="tab" v-bind:href="'#course'+course_ix"><i class="fas fa-utensils mr-2"></i>[[course.title]]</a>
                                            </li>
                                            <li class="nav-item" style="width:20%; display:flex">
                                                <a class="nav-link w-100" data-toggle="tab" href="#reviews"><i class="far fa-comments mr-2"></i>Reviews</a>
                                            </li>
                                            <li class="nav-item" style="width:20%; display:flex" v-on:click="club_tab_click()">
                                                <a class="nav-link w-100" data-toggle="tab" href="#kookclub"><i class="fas fa-users mr-2"></i>Kookclub</a>
                                            </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content border border-top-0 p-2">        
                                            <div v-bind:class="{'tab-pane':true, 'container':true, active : course_ix==0}" v-bind:id="'course'+course_ix" v-for="(course, course_ix) in this.recipe.courses">
                                                <div class="box">
                                                    <div class="box-header">
                                                        <h3 class="box-title">[[ course.title ]]</h3>
                                                    </div>
                                                    <div class="box-body">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="recipe-ingredients">
                                                                    <h3 class="recipe-ingredients-title"><i class="fas fa-list-ul"></i>Ingredienten</h3>
                                                                    <div class="recipe-ingredient" v-for="(ingredient, index) in course.ingredients">
                                                                        <div class="custom-control custom-checkbox mb-3">
                                                                            <input type="checkbox" class="custom-control-input" v-bind:id="'course'+course_ix+'_ingredient_cb'+index"
                                                                                   v-on:click="recipe_ingredient_click(event, ingredient.ingredient)">
                                                                            <label class="custom-control-label" v-bind:for="'course'+course_ix+'_ingredient_cb'+index">[[ ingredient.ingredient ]]</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="recipe-instructions">
                                                                    <h3 class="recipe-instructions-title"><i class="fas fa-info"></i>Instructies</h3>
                                                                    <div class="recipe-instruction" v-for="(instruction, index) in course.instructions">
                                                                        <div class="serial-number">
                                                                            <h4>[[ index + 1 ]]</h4>
                                                                            <span>Stap</span>
                                                                        </div>
                                                                        <div class="recipe-instruction-instruction">
                                                                            <span class="recipe-instruction-time">
                                                                                <i class="far fa-clock"></i>
                                                                                Mins
                                                                            </span>
                                                                            <p>[[ instruction.instruction ]]</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane container fade" id="reviews">
                                                <div class="recipe-reviews">
                                                    <div class="section-heading3 heading-dark">
                                                        <h2 class="item-heading">RECIPE REVIEWS</h2>
                                                    </div>
                                                    <div class="avarage-rating-wrap">
                                                        <div class="avarage-rating">Avarage Rating: 
                                                            <span class="rating-icon-wrap">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </span>
                                                            <span class="rating-number">[[average_rating]] / 5</span>                                        
                                                        </div>
                                                        <div class="total-reviews">Total Reviews:<span class="review-number">([[recipe.reviews.length]])</span></div>
                                                    </div>
                                                    <ul>
                                                        <li class="reviews-single-item" v-for="(review, index) in recipe.reviews">
                                                            <div class="media media-none--xs">
                                                                <div class="media-body">
                                                                    <h4 class="comment-title">[[review.user]]</h4>
                                                                    <span class="post-date">[[review.review_date]]</span>
                                                                    <p>[[review.review]]</p>
                                                                    <ul class="item-rating p-0">
                                                                        <li v-bind:class="{'single-item':true, 'star-fill':n<=review.stars, 'star-empty':n>review.starts}"
                                                                            v-for="n in 5" :key="n">
                                                                            <i class="fas fa-star"></i>
                                                                        </li>
                                                                        <li class="single-item"><span>[[review.stars]] / 5</span> </li>
                                                                    </ul>
                                                                    <a href="#" class="item-btn">REPLY<i class="fas fa-long-arrow-alt-right"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="recipe-leave-review">
                                                    <h2 class="item-heading">SCHRIJF EEN REVIEW</h2>
                                                    <div class="rate-wrapper">
                                                        <div class="rate-label">Rating *</div>
                                                        <div id="comment_rate" class="rate" v-on:click="rate_click(event)">
                                                            <div id="comment_rate_1" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div id="comment_rate_2" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div id="comment_rate_3" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div id="comment_rate_4" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div id="comment_rate_5" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="leave-form-box">
                                                        <div class="row">
                                                            <div class="col-12 form-group">
                                                                <label>Commentaar *</label>
                                                                <textarea id="comment_textarea" placeholder="" class="textarea form-control" name="message" rows="3" cols="20"
                                                                          data-error="Message field is required" required=""></textarea>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                            <div class="col-lg-4 form-group">
                                                                <label>Naam *</label>
                                                                <input type="text" placeholder="" class="form-control" name="name" data-error="Name field is required" required=""
                                                                       v-model="leave_review.name">
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                            <div class="col-lg-4 form-group">
                                                                <label>E-mail *</label>
                                                                <input type="email" placeholder="" class="form-control" name="email" data-error="E-mail field is required" required=""
                                                                       v-model="leave_review.email">
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                            <div class="col-lg-4 form-group">
                                                                <label>Website</label>
                                                                <input type="text" placeholder="" class="form-control" name="website"
                                                                       v-model="leave_review.website">
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                            <div class="col-12 form-group mb-0">
                                                                <button class="item-btn" v-on:click="post_review_click()">
                                                                    BOEK REVIEW
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane container fade" id="kookclub">
                                                <div class="club-events">
                                                    <div class="section-heading3 heading-dark">
                                                        <h2 class="item-heading">KOOKCLUB UITJES</h2>
                                                        <p>
                                                            Kijk waar dit gerecht wordt bereid en schuif aan.
                                                        </p>                                                   
                                                    </div>
                                                    <div class="club-map-event">
                                                        <div id="GoogleMap" class="club-map"></div>
                                                        <div class="club-event">
                                                            <div class="leave-form-box">
                                                                <div class="row">
                                                                    <div class="col-12 form-group">
                                                                        <label>Datum *</label>
                                                                        <input type="datetime-local" class="form-control" name="date" data-error="Datum is vereist" required=""
                                                                               v-model="cooking_club.cooking_date">
                                                                        <div class="help-block with-errors"></div>
                                                                    </div>
                                                                    <div class="col-12 form-group">
                                                                        <label>Uitnodiging *</label>
                                                                        <textarea id="invitation_textarea" placeholder="Plaats hier de uitnodiging" class="textarea form-control" name="message" rows="3" cols="10"
                                                                                  data-error="Vul een uitnodiging in voor de gasten" required=""></textarea>
                                                                        <div class="help-block with-errors"></div>
                                                                    </div>
                                                                    <div class="col-12 form-group">
                                                                        <label>Naam *</label>
                                                                        <input type="text" placeholder="" class="form-control" name="name" data-error="Naam is vereist" required=""
                                                                               v-model="cooking_club.cook">
                                                                        <div class="help-block with-errors"></div>
                                                                    </div>
                                                                    <div class="col-12 form-group" v-if="cooking_club.cook==user.username">
                                                                        <label>E-mail *</label>
                                                                        <input type="email" placeholder="" class="form-control" name="email" data-error="E-mail is vereist" required=""
                                                                               v-model="cooking_club.email">
                                                                        <div class="help-block with-errors"></div>
                                                                    </div>
                                                                    <div class="col-12 form-group" v-if="cooking_club.cook==user.username">
                                                                        <label>Adres *</label>
                                                                        <input type="text" placeholder="Straat Huisnummer, Plaats" class="form-control" name="address"
                                                                               v-model="cooking_club.address">
                                                                        <div class="help-block with-errors"></div>
                                                                    </div>
                                                                    <div class="col-12" v-if="user.username!=''">
                                                                        <p><em>{% trans "Je ontvangt een e-mail met de details na je registratie." %}</em></p>
                                                                    </div>
                                                                    <div class="col-12" v-else>
                                                                        <p><em style="color:red">{% trans "Login om een etentje te kunnen organiseren." %}</em></p>
                                                                    </div>
                                                                    <div class="col-12 form-group mb-0">
                                                                        <button id="organize_button" class="item-btn" v-on:click="post_cooking_club_click()" value="new"
                                                                                v-bind:disabled="cooking_club.cook!=user.username || user.username==''">
                                                                            ORGANISEER ETENTJE
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 sidebar">
                            {% include 'dhk_app/recipe - sidebar.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
	<input type="hidden" name="get_recipe_url" value="{% url 'dhk/get_recipe' %}">
    <input type="hidden" name="post_recipe_url" value="{% url 'dhk/post_recipe' %}">
    <input type="hidden" name="api_stream_file_url" value="{% url 'api/stream_file' %}">


{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        var static_assets_url = "{% static 'assets' %}";
        var user = {
           'username' : "{{ user.username }}",
           'first_name' : "{{ user.first_name }}",
           'last_name' : "{{ user.last_name }}",
           'email' : "{{ user.email }}",
           'street' : "{{ user.street }}",
           'housenumber' : "{{ user.housenumber }}",
           'city' : "{{ user.city }}",
           'country' : "{{ user.country }}"
        };
    </script>
    {% load staticfiles %}
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl4shlG7ca_SneqGEEOswOyJuxpqA4KKk"></script>
        <script src="{% static 'assets/googlemaps/js/markerclusterer.js' %}"></script>
        <script src="{% static 'app/scripts/utils.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/components.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/recipe.js' %}"></script>
{% endblock %}
