
<div class="recipe-header">
    <div class="row">
        <div class="col-xl-8 col-12">
            <div class="recipe-meta">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item border-0"><a href="#"><i class="far fa-calendar-alt"></i>[[print_date(this.recipe.published_date)]]</a></li>
                    <li class="list-group-item border-0"><a href="#"><i class="fas fa-user"></i>[[this.recipe.author]]</a></li>
                    <li class="list-group-item border-0"><a href="#"><i class="fas fa-map-marker-alt"></i>[[this.recipe.city]]</a></li>
                    <li v-if="average_rating" class="list-group-item border-0"><rating v-bind:stars="average_rating" v-bind:rate="false"></rating></li>
                    <li class="list-group-item border-0"><a href="#" v-on:click="tab_activate('#reviews')"><i class="fas fa-heart"></i><span>[[recipe.reviews.length]]</span></a></li>
                    <li class="list-group-item border-0"><a href="#" v-on:click="tab_activate('#kookclub'); club_tab_click()"><i class="fas fa-users"></i><span>[[recipe.cooking_clubs.length]]</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="toolbar-actions">
                <div class="toolbar-action">
                    <a type="button" v-bind:href="bind_recipe_get_url('pdf')" data-toggle="tooltip" title="Print als PDF" download style="color:black"><i class="fas fa-print"></i></a>
                </div>
                <div class="toolbar-action">
                    <a type="button" v-bind:href="bind_recipe_get_url('pdf')" data-toggle="tooltip" title="Save als PDF" download style="color:black"><i class="fas fa-file-pdf-o"></i></a>
                </div>
                <div class="toolbar-action">
                    <a type="button" v-bind:href="bind_recipe_mail_review_url()" data-toggle="tooltip" title="Mail Review" download style="color:black"><i class="fas fa-envelope"></i></a>
                </div>
                <div v-if="window.location.href.indexOf('recipe_edit') > -1" class="toolbar-action">
                    <a type="button" href="{% url 'dhk:recipe' %}?id={{recipe.id}}" data-toggle="tooltip" title="Bekijk" style="color:black"><i class="fas fa-eye"></i></a>
                </div>
                <div v-else>
                    <div class="toolbar-action" v-if="recipe.author==user.username && user.username!=''">
                        <a type="button" v-bind:href="bind_recipe_edit_url()" data-toggle="tooltip" title="Edit" style="color:black"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="toolbar-action toolbar-action-hover">
                    <a data-toggle="tooltip" title="Share"><i class="fas fa-share-square"></i></a>
                    <div class="toolbar-action-hover-wrap">
                        <div class="fb-share-button" v-bind:data-href="window.location.href" data-layout="button_count" data-size="small">
                            <a target="_blank" v-bind:href="'https://www.facebook.com/sharer/sharer.php?u='+encodeURI(window.location.href)+'&amp;src=sdkpreparse'" class="fb-xfbml-parse-ignore">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

