{% extends "dhk_app/dhk_layout.html" %}
{% load i18n %}

{% block css %}
    {% load static %}
	    <link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/css/font-awesome.min.css'%}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'dhk_app/content/recipe.css' %}" />
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-lg-12">
            <div id="root" class="row">
                <div class="col-lg-12" v-if="recipe">
                    <h2>[[ recipe.title ]]</h2>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="recipe">
                                {% include 'dhk_app/recipe - header.html' %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" id="tabs">
                                            <li class="nav-item">
                                                <a class="nav-link w-100 active" data-toggle="tab" href="#media"><i class="fas fa-images mr-2"></i>Media</a>
                                            </li>
                                            <li class="nav-item">
                                                <a v-bind:class="{'nav-link':true, 'w-100':true}" data-toggle="tab" href="#categorie"><i class="fas fa-tags mr-2"></i>Categorie</a>
                                            </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content border border-top-0 p-2">
                                            <div class="tab-pane fade active show" id="media">
                                                <div class="recipe-images-search">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="input-group">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-primary" v-on:click="recipe_carousel_images_search_click()">
                                                                        <span class="fas fa-search"></span>
                                                                    </button>
                                                                    <button class="btn btn-primary" v-on:click="image_search = recipe['title']">
                                                                        <span class="fas fa-history"></span>
                                                                    </button>
                                                                </div>
                                                                <input type="text" class="form-control" placeholder="Search" id="search_text" v-bind:value="image_search"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d2y-flex-row-nowrap-start">
                                                        <div class="d2y-flex-column-nowrap-start mt-3">
                                                            <div class="">
                                                                <button class="btn btn-primary" v-on:click="recipe_carousel_post()">Laadt Carousel</button>
                                                            </div>
                                                            <div class="alert alert-info mt-3" v-if="alert">
                                                                <strong>[[alert]]</strong>
                                                            </div>
                                                        </div>
                                                        <div class="recipe-images">
                                                            <div class="recipe-image" v-for="(slide, slide_ix) in carousel_checked">
                                                                <img v-bind:src="slide.src" style="width:156px;height:128px">
                                                                <div class="toolbar-actions">
                                                                    <div class="toolbar-action">
                                                                        <div class="radio">
				                                                            <input type="radio" v-bind:value="slide_ix" v-model.lazy="m_featured_ix" v-on:click="recipe_image_radio_click(slide_ix)">
			                                                            </div>
                                                                    </div>
                                                                    <div class="toolbar-action" v-if="slide_ix > 0">
                                                                        <a data-toggle="tooltip" title="Unselect" v-on:click="recipe_image_select_click(slide_ix, slide.select)">
                                                                        <i class="fas fa-arrow-down"></i></a>		                                                            
                                                                    </div>
                                                                    <div class="toolbar-action" v-if="slide_ix > 0">
                                                                        <a data-toggle="tooltip" title="Links" v-on:click="recipe_image_shift_click(slide_ix, 'left')" v-bind:disabled="slide.featured">
                                                                        <i class="fas fa-arrow-left"></i></a>
                                                                    </div>
                                                                    <div class="toolbar-action" v-if="slide_ix < carousel_checked.length-1">
                                                                        <a data-toggle="tooltip" title="Rechts" v-on:click="recipe_image_shift_click(slide_ix, 'right')" v-bind:disabled="slide.featured">
                                                                        <i class="fas fa-arrow-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="recipe-images">
                                                        <div class="recipe-image" style="width:156px" v-for="(slide, slide_ix) in carousel_unchecked">
                                                            <img v-bind:src="slide.src" data-toggle="tooltip" v-bind:title="slide.alt" style="width:156px;height:128px">
                                                                <div class="recipe-image-label"> [[slide.alt]] </div>
                                                            <div class="toolbar-actions">
                                                                <div class="toolbar-action">
                                                                    <a data-toggle="tooltip" title="Select" v-on:click="recipe_image_select_click(slide_ix, slide.select)">
                                                                    <i class="fas fa-arrow-up"></i></a>		
                                                                </div>
                                                            </div>
                                                        </div>                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="categorie">
                                                <div class="club-events">
                                                    <div class="section-heading3 heading-dark">
                                                        <h2 class="item-heading">CATEGORIE</h2>
                                                        <p>
                                                            Voeg de juiste Categorie en Tags toe.
                                                        </p>                                                   
                                                    </div>
                                                    <div class="club-map-event">
                                                        <div class="club-event">
                                                            <div class="leave-form-box">
                                                                <div class="row">
                                                                    <div class="col-6 form-group">
                                                                        <div class="recipe-categories">
                                                                            <div class="recipe-category" v-for="category in recipe.categories">
                                                                                <a href="#">[[category]]</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="recipe-tags">
                                                                            <div class="recipe-tag" v-for="tag in recipe.tags">
                                                                                <a href="#">[[tag]]</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
	<input type="hidden" name="recipe_get_url" value="{% url 'dhk:recipe_get' %}">
	<input type="hidden" name="recipe_edit_url" value="{% url 'dhk:recipe_edit' %}">
    <input type="hidden" name="recipe_post_url" value="{% url 'dhk:recipe_post' %}">
    <input type="hidden" name="recipe_carousel_images_search_url" value="{% url 'dhk:recipe_carousel_images_search' %}">
    <input type="hidden" name="recipe_carousel_post_url" value="{% url 'dhk:recipe_carousel_post' %}">
    <input type="hidden" name="api_stream_file_url" value="{% url 'api/stream_file' %}">


{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        var static_assets_url = "{% static 'assets' %}";
    </script>
    {% load static %}
        <script src="{% static 'app/scripts/utils.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/components.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/recipe_edit.js' %}"></script>
{% endblock %}
