{% extends "dhk_app/dhk_layout.html" %}
{% load i18n %}

{% block css %}
    {% load staticfiles %}
	    <link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/css/font-awesome.min.css'%}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
{% endblock %}

{% block content %}

    <div id="root">
        <!-- Tab panes -->
        <div class="row">
            <div class="col-9">
                <div id="accordion">
                    <div class="card" v-for="(workshop, wix) in workshops">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" v-bind:href="'#accordion_item_'+wix">
                                <i visible="false" class="fa fa-angle-double-right"></i>
                                [[workshop.title]]
                            </a>
                        </div>
                        <div v-bind:id="'accordion_item_'+wix"
                                class='collapse' data-parent="#accordion">
                            <div class="card-body">
                                Ga naar gerecht
                                <a class="text-danger" href="#" v-on:click="jump_to_recipe(workshop.recipe_id)">[[workshop.title]]</a>
                                en meld je aan!
                                <br />
                            <div class="workshop-meta mb-2">
                                <i class="fas fa-users mr-2"></i>[[workshop.cook]] 
                                Start<i class="far fa-calendar-alt m-2"></i>[[ print_date(workshop.cooking_clubs[0].cooking_date) ]]
                                Eind<i class="far fa-calendar-alt m-2"></i>[[ print_date(workshop.cooking_clubs[workshop.cooking_clubs.length-1].cooking_date) ]]
                                Van <i class="far fa-clock m-2"></i>[[workshop.starttime]]
                                Tot <i class="far fa-clock m-2"></i>[[workshop.endtime]]
                                <i class="fas fa-euro-sign m-2"></i>[[workshop.cost]]
                            </div>
                            <p class="workshop-excerpt font-italic">
                                <b>
                                    <div v-for="excerpt_line in workshop.excerpt_lines">
                                        [[excerpt_line]]
                                        <br/>
                                    </div>
                                </b>
                            </p>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                        <th style="width:20%">Datum</th>
                                        <th>Recept</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="cooking_club in workshop.cooking_clubs">
                                            <td style="width:20%">[[print_date(cooking_club.cooking_date)]]</td>
                                            <td><a href="#" v-on:click="jump_to_recipe(cooking_club.recipe_id)">[[cooking_club.invitation]]</a></td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="widget" v-if="this.carousel_images">
                    <div class="widget-header">
                        <h3>Media</h3>
                    </div>
                    <div class="widget-body">
                        <div class="widget-carousel">
                            <div id="widget-carousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ul class="carousel-indicators">
                                    <li data-target="#widget-carousel" v-bind:data-slide-to="image_ix" v-bind:class="{active : image_ix==0}"
                                        v-for="(image, image_ix) in this.carousel_images"></li>
                                </ul>
                                <!-- The slideshow -->
                                <div class="carousel-inner">
                                    <div class="carousel-item" v-bind:class="{active : image_ix==0}" style="background: grey"
                                            v-for="(image, image_ix) in this.carousel_images">
                                        <img v-bind:src="bind_stream_file_url(api_stream_file_url, image.location)" alt=field width="auto" height="256px"  style="margin: 5px">
                                    </div>
                                </div>
                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#widget-carousel" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#widget-carousel" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% csrf_token %}
    <input type="hidden" name="get_workshops_url" value="{% url 'dhk:get_workshops' %}">
	<input type="hidden" name="get_recipe_url" value="{% url 'dhk:get_recipe' %}">
    <input type="hidden" name="api_stream_file_url" value="{% url 'api/stream_file' %}">

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var static_assets_url = "{% static 'assets' %}";
    </script>
    {% load staticfiles %}
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
        <script src="{% static 'app/scripts/utils.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/components.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/facets.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/workshop.js' %}"></script>

{% endblock %}
