
<div class="recipe-header">
    <div class="row">
        <div class="col-12">
            <div class="recipe-meta">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item border-0"><a href="#"><i class="far fa-calendar-alt"></i>[[workshop.dates[0] ]]</a></li>
                    <li class="list-group-item border-0"><a href="#"><i class="fas fa-user"></i>[[workshop.cook]]</a></li>
                    <li class="list-group-item border-0">
                            <rating v-bind:stars="average_rating" v-bind:rate="false"></rating>                                     
                    </li>
                    <li class="list-group-item border-0"><a href="#"><i class="fas fa-heart"></i><span>[[workshop.reviews.length]]</span></a></li>
                    <li class="list-group-item border-0"><a href="#"><i class="fas fa-users"></i><span>[[workshop.participants.length]]</span></a></li>
                    <li class="list-group-item border-0"><a href="#"><i class="fas fa-euro-sign"></i><span>[[workshop.cost]]</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

