{% extends "dhk_app/dhk_layout.html" %}
{% load i18n %}

{% block css %}
    {% load staticfiles %}
	    <link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/css/font-awesome.min.css'%}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
{% endblock %}

{% block content %}

    <div id="root" class="content workshop">
        <div class="iff-pane-border content-form workshop-form">
            {% include "dhk_app/workshop-form.html" %}
        </div>
        <div class="iff-pane-border content-results workshop-results">
            {% include "dhk_app/workshop-results.html" %}
        </div>
    </div>

    {% csrf_token %}
    <input type="hidden" name="get_workshops_url" value="{% url 'dhk:get_workshops' %}">
	<input type="hidden" name="get_recipe_url" value="{% url 'dhk:get_recipe' %}">
    <input type="hidden" name="api_stream_file_url" value="{% url 'api/stream_file' %}">

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var static_assets_url = "{% static 'assets' %}";
    </script>
    {% load staticfiles %}
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
        <script src="{% static 'app/scripts/utils.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/components.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/facets.js' %}"></script>
        <script src="{% static 'dhk_app/scripts/workshop.js' %}"></script>

{% endblock %}
