{% extends "app/layout.html" %}


{% block content %}

<div class="page-header">
  <h1>de Heerlijke Keuken <small>Recepten</small></h1>
</div>

{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/css/font-awesome.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />

	<div class="row">
        <div class="col-lg-12">
            <div id="root" class="row" style="height: 90%">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Recipes</h3>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="zipfile-table" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Naam</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Acties</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="zip in ziplist"
                                            v-on:click="currentZip = zip, getStructure($event, zip.id), currentAggr = null"
                                            v-bind:class="{active : currentZip==zip}">
                                            <td style="width:60%;"><a href="#">[[ zip.name ]]</a></td>
                                            <td style="width:20%;" class="text-center">
                                                <latest-status-mark v-bind:latest_status="zip.latest_status"></latest-status-mark>
                                            </td>
                                            <td style="width:20%;" class="text-center">
                                                <span v-if="zip.imode">
                                                    <a href="#"><i class="fa fa-eye divault-blue" title="Beheer" aria-hidden="true"></i></a>
                                                </span>
                                                <a href="#" v-on:click="removeZip(zip.id)"><i class="fa fa-trash" title="Verwijder"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
	<input type="hidden" name="upload_file_url" value="{% url 'dhk/upload_file' %}">
	<input type="hidden" name="get_uploaded_files_url" value="{% url 'dhk/get_uploaded_files' %}">

{% endblock %}


{% block scripts %}
    {% load staticfiles %}
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
        <script src="{% static 'app/dhk/scripts/components.js' %}"></script>
        <script src="{% static 'app/dhk/scripts/recipe.js' %}"></script>
{% endblock %}
