<!-- The Modal -->
<div class="modal fade" id="recipe-modal">
    <div class="modal-dialog">
        <div class="modal-content" v-if="this.cooking_club">
      
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">[[recipe.title]]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <!-- Modal body -->
            <div class="modal-body">
                <div class="kookclub-modal">
                    <div class="kookclub-modal-header mb-2">
                        <i class="fas fa-users mr-2"></i>[[cooking_club.cook]] 
                        <i class="far fa-calendar-alt m-1"></i>[[cooking_club.cooking_date.substr(2, 8)]]
                        <i class="far fa-clock m-1"></i>[[cooking_club.cooking_date.substr(2, 8)]]
                     </div>
                     <div class="kookclub-club">
                         <table class="table table-bordered table-hover table-striped">
                             <tr>
                                 <th>Gast</th>
                                 <th>Opmerking</th>
                             </tr>
                             <tr v-for="participant in this.cooking_club.club">
                                 <td>[[participant.user]]</td>
                                 <td>[[participant.comment]]</td>
                             </tr>
                         </table>
                     </div>
                    <div class="cooking-club-join">
                        <h4>Meld je aan als gast</h4>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label>Naam *</label>
                                <input type="text" placeholder="" class="form-control" name="name" data-error="Naam is vereist" required=""
                                        v-model="cooking_club_club.user">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <label>E-mail *</label>
                                <input type="email" placeholder="" class="form-control" name="email" data-error="E-mail is vereist" required=""
                                        v-model="cooking_club_club.email">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <label>Uitnodiging</label>
                                <textarea id="club_textarea" placeholder="Eventueel commentaar" class="textarea form-control" name="message" rows="3" cols="10"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group mb-0">
                                <button class="item-btn" v-on:click="post_cooking_club_club_click()">
                                    GAST ETENTJE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        
        </div>
    </div>
</div>
  

