{% load seeker %}
<td class="column_{{ field }}">
    {% if column_type == 'list' %}
        <ul>
        {% for li in value %}
            {% if li.2 == True %}
                <li><a href="{{ li.1 }}" style="color:red;">{{ li.0 }}</a></li>
            {% else %}
                <li><a href="{{ li.1 }}">{{ li.0 }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% elif column_type == 'image' %}
        <img src="../api/stream_file?location={{value|urlencode}}" alt=field width="128">
    {% endif %}
</td>
