{% extends "dhk_app/dhk_layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h2>Profiel</h2>
    <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        {% if error_message %}
            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
        {% endif %}                        
        {% for field in form %}
            <div class="row">
                <div class="col-md-2">    
                {{ field.label_tag }}
                {% if field.help_text %}
                    <sup>{{ field.help_text }}</sup>
                {% endif %}
                {{ field.errors }}
                </div><div class="col-md-6 pull-left">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
        <div class="col-md-6 col-md-offset-4">
            <input type="submit" value="Update" class="btn btn-success">
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
{% endblock %}